/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--base-font-second-text);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  /* colors */
  --base-color: rgb(69, 143, 246);
  --base-color-second: rgba(35, 51, 72, 1);
  --text-color: rgba(125, 121, 135, 1);
  --title-color: rgba(0, 0, 0, 1);

  /* fonts */
  --title-font-size: 48px;
  --text-font-size: 18px;

  --base-font-title: 700 1rem 'Mulish', sans-serif;
  --base-font-second-text: 300 1rem 'Mulish', sans-serif;
}

/*---- LAYOUT --------------------------------*/

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

/*----LOGO--------------------------------*/
.logo {
  width: 148px;
  height: 30px;
}

/*---- MENU --------------------------------*/

#header {
  background: white;
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .logo {
  width: 135px;
}

ul {
  display: flex;
}
li {
  margin-left: 40px;
}

.menu ul li a {
  color: var(--text-color);
  font: 400 0.9rem 'Mulish', sans-serif;
}

.menu ul li a:hover {
  color: var(--title-color);
}

#header.scroll {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

/*-------------- HOME --------------*/

.home {
  display: flex;
  justify-content: space-between;
}

#circlesHome {
  width: 131.58px;
  height: 115px;
  top: 100px;
  left: -50px;
  opacity: 75%;
  position: absolute;
  z-index: 1;
}

#image {
  width: 45%;
  margin-top: 120px;
  height: 598px;
}

.text {
  width: 35%;
  margin-top: 191px;
  align-items: center;
}

.title {
  font: 700 1rem 'Mulish', sans-serif;
  font-size: 36px;
}

.home p {
  font: 300 16.7px 'Mulish', sans-serif;
  color: var(--text-color);
  margin-top: 20px;
}

.button {
  font: 700 1rem 'Mulish', sans-serif;
  background-color: var(--base-color);
  border-radius: 55px;
  width: 180px;
  height: 56px;
  margin-top: 45px;
  border: none;
  color: white;
  font-size: 16.7px;
}

.button:hover {
  background-color: rgb(52, 115, 204);
}

.line {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 26px;
  width: 56px;
}
/*-------------- Services --------------*/
#backgroundService {
  position: absolute;
  left: 0;

  margin-top: 2rem;
  width: 650px;
  height: 470px;
}

#circlesServices {
  margin-top: 265px;
  margin-right: 135px;
}

#services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services h2 {
  font: 700 1rem 'Mulish', sans-serif;
  color: var(--title-color);
  font-size: 25px;
}

.services hr {
  margin-top: 23px;
  opacity: 60%;
}

.services p {
  font: 300 16.7px 'Mulish', sans-serif;
  color: var(--text-color);
  margin-top: 33px;
  font-size: 1.2rem;
  text-align: center;
}

/*--------- cards --------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.cards blockquote {
  padding: 2rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-top: 22px;
  margin: 15px;
  width: 300px;
  height: 260px;
  align-items: center;
  background-color: white;
}

.cards blockquote h2 {
  color: var(--title-color);
  font: 700 1rem 'Mulish', sans-serif;
  font-size: 24px;
  margin-top: 1rem;
}

.cards blockquote p {
  font: var(--base-font-second-text);
  font-size: 14.5px;
  position: relative;
  text-indent: 1.875;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: var(--text-color);
}

.card img {
  width: 3rem;
  height: 4rem;
}

.card #lens {
  width: 4.5rem;
  height: 4.5rem;
}

.card #emergency {
  width: 70px;
  height: 3.5rem;
}

.cards blockquote {
  position: relative;
  transition: all 0.4s;
}
.cards blockquote:hover {
  transform: translateY(-10px);
}
#buttonServices {
  font: 700 1rem 'Mulish', sans-serif;
}
.buttons {
  background-color: white;
  border-color: var(--base-color);
  border-radius: 55px;
  width: 180px;
  height: 56px;
  margin-top: 72px;
  font-size: 17px;
}

.buttons:hover {
  background-color: var(--base-color);
  color: white;
}

#buttonServices {
  display: flex;
  justify-content: center;
}

/*---------- Apps ------------*/
.apps {
  display: flex;
  justify-content: space-between;
}
#apps img {
  margin-top: 80px;
}
#apps hr {
  width: 46px;
  opacity: 60%;
  margin-top: 26px;
}

#apps p {
  font: 300 16.7px 'Mulish', sans-serif;
  color: var(--text-color);
  margin-top: 20px;
}

#apps #image {
  margin-top: 121px;
  width: 45%;
  height: 598px;
}

#apps #buttonApps {
  font: 700 1rem 'Mulish', sans-serif;
}

/*====  TESTIMONIALS ============================ */
.testimonials {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#testimonials .line {
  border: 1px solid white;
  margin-top: 25px;
}

.testimonialsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 0 !important;
}

.leftContent {
  width: 50%;
  display: flex;
  justify-content: center;
}
.rightContent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent p {
  width: 350px;
}

#testimonials .container {
  color: white;
  font: 300 16.7px 'Mulish', sans-serif;
  background: linear-gradient(
    180deg,
    rgba(103, 195, 243, 1) 0%,
    rgba(90, 152, 242, 1) 100%
  );

  border-radius: 24px;
  padding: 1rem;
  position: relative;
  width: 1000px;
  height: 350px;
}

#testimonials header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#testimonials h2 {
  font-size: 36px;
}

.circles {
  position: absolute;
  width: 100px;
  height: 115px;
  right: 15px;
  opacity: 90%;
}

#circlesTestimonials {
  left: 103px;
  position: absolute;
  width: 100px;
  height: 115px;
  right: 15px;
  opacity: 90%;
  margin-top: -150px;
}

.testimonial {
  padding: 2rem;
  display: flex;
}

#testimonials blockquote p {
  width: 420px;
  height: 120px;
  top: 3940px;
  left: 824px;
}

#testimonials cite {
  display: flex;
  align-items: center;
}

#textPerfil {
  margin-left: 2rem;
}

#testimonials cite h2 {
  font: 700 1rem 'Mulish', sans-serif;
  width: 180px;
  font-size: 22px;
}

#testimonials cite h3 {
  font-size: 18px;
  font: 300 1rem 'Mulish', sans-serif;
}

#testimonials cite img {
  width: 120px;
  height: 120px;
  border: 4px solid white;
  border-radius: 50%;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}
.swiper-pagination {
  bottom: -40px !important;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

.icon-arrow-left {
  color: var(--base-color);
}
.icon-arrow-right {
  color: var(--base-color);
}

/*------------ ABOUT ----------------*/

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 223px;
}
.backgroundAbut {
  position: absolute;
  width: 600px;
  height: 650px;
  margin-top: -70px;
  right: 0;
}

#backgroundAbut {
  left: 135px;
  position: absolute;
  width: 100px;
  height: 115px;
  right: 15px;
  opacity: 90%;
  margin-top: -5px;
}

.about hr {
  margin-top: 25px;
}

#cardAbout blockquote h2 {
  color: var(--title-color);
  font: 700 1rem 'Mulish', sans-serif;
  font-size: 21px;
  margin-top: 1rem;
}

#textAbout p {
  font-size: 16px;
  position: relative;
  text-indent: 1.875;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font: 300 1rem 'Mulish', sans-serif;
  color: var(--text-color);
  margin-top: 20px;
}

.cardsAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
  height: 100%;
  max-height: 740px;
}

#cardAbout blockquote {
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.07);
  border-radius: 21px;
  margin-top: 22px;
  width: 314px;
  height: 480px;
  background-color: white;
}

#cardAbout img {
  border-radius: 20px 20px 0px 0px;
}

.cardsAbout blockquote {
  position: relative;
  transition: all 0.4s;
}

.cardsAbout blockquote:hover {
  transform: translateY(-10px);
}

#readMore {
  display: flex;
  font: 600 1rem 'Mulish', sans-serif;
  color: var(--base-color);
  align-items: center;
  font-size: 17px;
}

#readMore .icon-arrow-right {
  margin-left: 1rem;
}

#readMore:hover {
  color: rgb(39, 100, 190);
}

#textAbout {
  padding: 2rem;
}

#buttonAbout {
  display: flex;
  justify-content: center;
}

.buttons {
  font: 700 1rem 'Mulish', sans-serif;
  background-color: white;
  border-color: var(--base-color);
  border-radius: 55px;
  width: 200px;
  height: 56px;
  margin-top: 72px;
  color: var(--base-color);
  font-size: 15px;
}

/*-------------- Footer --------------*/
footer {
  max-width: 100%;

  margin-top: 202px;
}
.footer {
  font: 300 1rem 'Mulish', sans-serif;
  background: linear-gradient(
    180deg,
    rgba(103, 195, 243, 1) 0%,
    rgba(90, 152, 242, 1) 100%
  );
  color: white;
  font-size: 18px;
}

.footerContent {
  padding: 38px 0 !important;
}

.circlesFooter {
  position: absolute;
  width: 120px;
  height: 100px;
  right: 15px;
  margin-top: 140px;
  opacity: 80%;
}

footer .circlesFooter {
  left: 0;
  margin-top: 160px;
}
.footer .logoFooter {
  width: 120px;
}

.footer .textFooter {
  height: 84px;
  width: 378px;
  margin-top: 1rem;
}

.textFooter h3 {
  margin-top: 31px;
  font-size: 16px;
}

.footer p {
  margin-top: 21px;
}
#footer {
  display: flex;
  justify-content: space-between;
}
.footer ul {
  flex-direction: column;
}

.footer ul li {
  margin-top: 1rem;
}
.footer .titleFooter {
  font-size: 18px;
  font: 700 1rem 'Mulish', sans-serif;
}
